<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666112503854-4lageid9lj71ip2qa8kdsb2id91q5ob3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666112503854-4lageid9lj71ip2qa8kdsb2id91q5ob3</string>
	<key>API_KEY</key>
	<string>AIzaSyCxhmAt93oEkfXLZzArZhMDdqE-zPX89DY</string>
	<key>GCM_SENDER_ID</key>
	<string>666112503854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-app-184c8</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-184c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666112503854:ios:2e34baf80919adf8606fbf</string>
</dict>
</plist>